<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register User</title>
  <link rel="stylesheet" th:href="@{/css/registerStyle.css}" />
</head>
<body>
<h1>Register User</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
  <div>
    <label for="username">Username</label>
    <input id="username" type="text" th:field="*{username}" placeholder="Username">
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" placeholder="Password">
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" type="text" th:field="*{email}" placeholder="Email">
  </div>
  <button type="submit">Register</button>
</form>
<a href="#" th:href="@{/login}">Login</a>
</body>
</html>
